Package: nginx-full-dbg
Source: nginx
Version: 1.9.10-1~bpo8+4
Architecture: amd64
Maintainer: Kartik Mistry <kartik@debian.org>
Installed-Size: 3775
Depends: nginx-full (= 1.9.10-1~bpo8+4)
Conflicts: nginx-extras-dbg, nginx-light-dbg
Section: debug
Priority: extra
Homepage: http://nginx.net
Description: nginx web/proxy server (standard version) - debugging symbols
 Nginx ("engine X") is a high-performance web and reverse proxy server
 created by Igor Sysoev. It can be used both as a standalone web server
 and as a proxy to reduce the load on back-end HTTP or mail servers.
 .
 This package provides debugging symbols for nginx-full, to assist in debugging
 issues that you may find. It should not be required for normal operation.
