Package: nginx
Version: 1.9.10-1~bpo8+4
Architecture: all
Maintainer: Kartik Mistry <kartik@debian.org>
Installed-Size: 105
Depends: nginx-full (>= 1.9.10-1~bpo8+4) | nginx-light (>= 1.9.10-1~bpo8+4) | nginx-extras (>= 1.9.10-1~bpo8+4), nginx-full (<< 1.9.10-1~bpo8+4.1~) | nginx-light (<< 1.9.10-1~bpo8+4.1~) | nginx-extras (<< 1.9.10-1~bpo8+4.1~)
Section: httpd
Priority: optional
Homepage: http://nginx.net
Description: small, powerful, scalable web/proxy server
 Nginx ("engine X") is a high-performance web and reverse proxy server
 created by Igor Sysoev. It can be used both as a standalone web server
 and as a proxy to reduce the load on back-end HTTP or mail servers.
 .
 This is a dependency package to install either nginx-full (by default) or
 nginx-light.
